* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.header,
.hero,
.section-1,
.section-2,
.section-3,
.footer {
  padding: 1em 1em;
}
@media (min-width: 500px) {
  .header,
  .hero,
  .section-1,
  .section-2,
  .section-3,
  .footer {
    padding: 1em 5em;
  }
}
/* header styles */
.header {
  background-color: #b3e8e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: none;
}
@media (min-width: 600px) {
  .header__nav {
    display: flex;
  }
  .header__nav-link {
    text-decoration: none;
    margin-right: 10px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
  }

  .header__li {
    list-style: none;
  }
}
@media (min-width: 700px) {
  .header__nav-link {
    font-size: 24px;
  }
}
.header__logo {
  width: 80px;
  border-radius: 45%;
}

.header__logo--menu-icon {
  width: 38px;
  height: 40px;
}
@media (min-width: 600px) {
  .header__logo--menu-icon {
    display: none;
  }
}
/* main styles */
.hero {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b3e8e5;
}
@media (min-width: 700px) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.hero__personal-photo {
  width: 318px;
  border-radius: 10%;
}
/* styles section 1 */
.about {
  max-height: 450px;
  text-align: center;
  background-color: #82dbd8;
  padding: 30px 0;
}
@media (min-width: 700px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.about__personal-logo {
  width: 100px;
  border-radius: 45%;
}
@media (min-width: 700px) {
  .logo-section-1 {
    width: 211px;
    margin: 3em;
  }
}
.about__container-about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
@media (min-width: 700px) {
  .about__container-about-info {
    align-items: flex-start;
  }
}
.h3 {
  font-size: 32px;
  margin: 5px;
}

.parrafo {
  min-width: 312px;
  min-height: 193px;
  text-align: justify;
}

@media (min-width: 700px) {
  .parrafo {
    max-width: 532px;
  }
}
/* styles section 2 */
.section-2 {
  background-color: #3bacb6;
}

.servicio {
  margin-right: 1em;
}

.h2 {
  text-align: center;
}

.pc-logo {
  width: 138px;
}

.parrafo-servicios {
  width: 262px;
  margin-top: 15px;
  text-align: justify;
}
.container-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 920px) {
  .container-servicios {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* section 3 */
.section-3 {
  background-color: #82dbd8;
  padding: 70px 18px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 900px) {
  .section-3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.titulo-section-3 {
  text-align: center;
}
@media (min-width: 900px) {
  .titulo-section-3 {
    margin: 0 1em;
  }
}
.form {
  display: inherit;
  flex-direction: inherit;
  align-items: flex-start;
}

.nombre-input,
.input-email,
.boton {
  width: 325px;
  height: 45px;
}

.text-area {
  width: 325px;
  height: 113px;
}

.boton {
  margin: 20px 0;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #2f8f9d;
  min-height: 493px;
}

@media (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.container-1 {
  padding: 1em;
}

.logo-footer {
  width: 100px;
  border-radius: 45%;
}

.container-2 {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: center;
}
@media (min-width: 600px) {
  .container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.icono {
  width: 50px;
  height: 50px;
  padding: 1em;
}

.container-red {
  display: flex;
  align-items: center;
}
