* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* header styles */
.header {
  background-color: #b3e8e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 17px;
}

.nav {
  display: none;
}

.logo-header {
  width: 80px;
  border-radius: 45%;
}

.menu-header {
  width: 38px;
  height: 40px;
}
/* main styles */
.main {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b3e8e5;
  padding-bottom: 10px;
}

.personal-img {
  width: 318px;
  border-radius: 10%;
}
/* styles section 1 */
.section-1 {
  min-height: 450px;
  text-align: center;
  background-color: #82dbd8;
  padding: 30px 0;
}

.logo-section-1 {
  width: 100px;
  border-radius: 45%;
}

.contenedor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.h3 {
  font-size: 32px;
  margin: 5px;
}

.parrafo {
  min-width: 312px;
  min-height: 193px;
}
/* styles section 2 */
.section-2 {
  background-color: #3bacb6;
  padding: 69px 0;
}

.h2 {
  text-align: center;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.pc-logo {
  width: 138px;
}

.parrafo-servicios {
  width: 262px;
  height: 115px;
  margin: 15px;
}

/* section 3 */
.section-3 {
  background-color: #82dbd8;
  padding: 70px 18px;
}

.titulo-section-3 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nombre-input,
.input-email,
.boton {
  width: 335px;
  height: 45px;
}

.text-area {
  width: 335px;
  height: 113px;
}

.boton {
  margin: 20px 0;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #2f8f9d;
  min-height: 493px;
}

.container-1 {
  padding: 1em;
}

.logo-footer {
  width: 100px;
  border-radius: 45%;
}

.container-2 {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: center;
}

.icono {
  width: 50px;
  height: 50px;
  padding: 1em;
}

.container-red {
  display: flex;
  align-items: center;
}
